<div id="<%= dom_id post %>">

 <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Post Img name:</strong>
    <%= post.img_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
